// blues
$fblue: #2980b9;
$fblueAlt: #3498db;

// reds
$fred: #c0392b;
$fredAlt: #e74c3c;

// greens
$fgreen: #16a085;
$fgreenAlt: #2ecc71;

// grays
$fDarkGray: #292c33;
$fLightGray: #CCC;
$fBGGray: #f2f1f6;
$white: #FFF;