.header {
  background-color: $white;
  .toggle-sidebar {
    top: 35px;
    padding: 15px;
    color: $white;
    position: fixed;
    #{$left}: 242px;
    cursor: pointer;
    transition: .3s;
    border-radius: 6px;
    background-color: $fDarkGray;

    &.no-sidebar {
      #{$left}: -8px !important;
    }
  }
}