* {
  box-sizing: border-box;
}
body {
  .page {
    min-height: 100vh;

    .content-area {
      float: $right;
      width: calc(100% - 250px);
      min-height: 100vh;
      transition: 0.3s;
      will-change: width;
    }
  }
}