//-
  *** this template created by labib software ***
  labib instagram: https://www.instagram.com/labib.software/
  labib facebook: https://www.facebook.com/labib.software/
  labib website: https://www.labib.gq

- var pageTitle = 'Home';
<!DOCTYPE html>
html
  head
  //- title
  title
    - if (pageTitle)
      | labib template | #{pageTitle}
    - else
      | labib template

  //- meta
  include pug/layout/meta

  //- styles
  include pug/layout/styles

  body
  .page.homePage
    include pug/layout/sidebar
    .content-area
      include pug/layout/header
      .content
        .container
          h1 test
    include pug/layout/scriptes