//-
  *** this template created by labib software ***
  labib instagram: https://www.instagram.com/labib.software/
  labib facebook: https://www.facebook.com/labib.software/
  labib website: https://www.labib.gq

- var pageTitle = 'Home';
<!DOCTYPE html>
html
  head
  //- title
  title
    - if (pageTitle)
      | labib template | #{pageTitle}
    - else
      | labib template

  //- meta
  mate(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  //- styles
  include pug/layout/styles

  body
  .page.homePage
    include pug/layout/sidebar
    .content-area
      .header
        i.fa.fa-fw.fa-lg.fa-cog.toggle-sidebar
      .content
    include pug/layout/scriptes